data/

.python-version
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Environments
.venv/
venv/
env/
ENV/
.conda/
.env
environment.yml

# IDE / OS
.vscode/
.idea/
.DS_Store
pyrightconfig.json

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.pyright/